@import "https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap";
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Red Hat Display', sans-serif;
	min-height: 100vh;
	background-image: url("images/pattern-background-desktop.svg");
	background-repeat: no-repeat;
	background-size: contain;
	background-color: hsl(225, 100%, 94%);
	position: relative;
	font-size: 16px;
}
.container {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	max-width: 450px;
	background-color: white;
	border-radius: 20px;
	overflow: hidden;
	text-align: center;
}
.content {
	padding: 7%;
}
.title {
	color: hsl(223, 47%, 23%);
	margin-bottom: 20px;
	font-weight: 900;
	font-size: 32px;
}
.subtitle {
	color: #797575;
	margin-bottom: 25px;
}
.plan {
	background-color: hsl(225, 100%, 98%);
	border-radius: 12px;
	display: flex;
	padding: 25px;
	align-items: center;
	justify-content: space-between;
}
.plan-left {
	display: flex;
	align-items: center;
	text-align: left;
	div {
		margin-left: 10px;
		h5 {
			font-size: 15px;
			font-weight: 900;
			color: hsl(223, 47%, 23%);
		}
		p {
			font-size: 14px;
			color: #797575;
		}
	}
}
.plan-right {
	a {
		font-weight: 900;
		color: hsl(223, 47%, 23%);
		&:hover {
			text-decoration: none;
			color: hsl(245, 75%, 52%);
			transition: color .3s ease;
		}
	}
}
.proceed-btn {
	display: block;
	text-decoration: none;
	color: white;
	background-color: hsl(245, 75%, 52%);
	padding: 20px 0;
	margin: 30px 0;
	border-radius: 12px;
	&:hover {
		background-color: hsl(224, 23%, 55%);
	}
}
.cancel-btn {
	text-decoration: none;
	font-weight: 900;
	color: hsl(224, 23%, 55%);
	&:hover {
		color: hsl(223, 47%, 23%);
	}
}
@media only screen and (max-width: 425px) {
	body {
		background-image: url("images/pattern-background-mobile.svg");
		font-size: 14px;
	}
	.container {
		margin-top: 100px;
		max-width: 80%;
	}
	.title {
		font-size: 23px;
	}
	.plan {
		padding: 12px;
	}
	.plan-left {
		div {
			margin-left: 10px;
		}
	}
	.proceed-btn {
		font-size: 12px;
		font-weight: 900;
	}
	.cancel-btn {
		font-size: 12px;
		font-weight: 900;
	}
	.content {
		padding: 9% 7%;
	}
}
